<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.Revit.SDK" version="2022.0.2.392" targetFramework="net472" />
  <package id="Autodesk.Revit.Sdk.Refs.2022" version="1.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>